html,body{
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #FAFAFA;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}

section{
    width: 500px;
    height: 300px;
    background-color: rgba(10,10,10,10,0.5);
    border:2px #444 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
p{
    text-align: center;
    font-family: Arial;
    font-size: 24px;

}   

#quatidade-cliques{
    font-size: 42px;;
}

.info-menor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-menor p {
    font-size: 18px;
    width: 50%;
    color: #CDCDCD;
}
button{
    padding: 10px;
    background-color: orchid;
    color: #FAFAFA;
    border-radius: 8px;
    border: 0;
    font-size: 24px;

}

button:hover{
    background-color: darkorchid;
    cursor: pointer;


}
